.sound-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
}
.sound-list ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
}
.sound-list a {
  color: #4c526a;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 138%;
  letter-spacing: -0.7px;
  transition: all 0.3s linear;
  &:hover {
    color: #000;
    border-bottom: 2px solid #929292;
  }
}
.sound-list ul:last-child {
  display: none;
}
@media screen and (min-width: 576px) {
  .sound-list ul:last-child {
    display: flex;
  }
}
