.category-header p {
  color: var(--font-color-title-dark, #020d37);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.4px;
}
@media screen and (min-width: 768px) {
  .category-header p {
    font-size: 24px;
    line-height: 34.4px;
    letter-spacing: -0.48px;
  }
}
@media screen and (min-width: 992px) {
  .category-header p {
    font-size: 28px;
    line-height: 45px;
    letter-spacing: -0.56px;
  }
}
