@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200;9..40,300;9..40,500&family=Figtree:wght@300;400;500;600;700;800;900&family=Open+Sans&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Vazirmatn&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=DM+Sans:opsz,wght@9..40,200;9..40,300;9..40,500&family=Figtree:wght@300;400;500;600;700;800;900&family=Open+Sans&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Vazirmatn&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0 60px;
}
.logo {
  display: flex;
  align-items: center;
  gap: 5px;
}
.logo p {
  color: #292929;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 700;
}
.list ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.list a {
  text-decoration: none;
  color: #292929;
  font-family: Gotham;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -1px;
}
.nav-button button {
  border: 0;
  border-radius: 4px;
  background-color: #292929;
  color: #fff;
  padding: 12px 24px;
  font-family: Gotham;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.8px;
  cursor: pointer;
}
.page {
  max-width: 1200px;
  margin: auto;
}
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.left p:first-child {
  color: #292929;
  font-family: Anton;
  font-size: 150px;
  font-weight: 400;
  letter-spacing: -4px;
  line-height: 90%;
}
.right img {
  width: 100%;
}
