@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700;800;900&family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 28px 100px 103px;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 129px;
    height: 64.5px;
    flex-shrink: 0;
}
.logo p{
    color: #000;
    font-family: Raleway;
    font-size: 35px;
    font-style: normal;
    font-weight: 900;
    line-height: 41px;
    padding-bottom: 7px;
}
.links ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 38px;
    list-style: none;
    font-size: 17px;
    font-style: normal;
    font-weight: 800;
    line-height: 20px;
    letter-spacing: 1.275px;
    text-align: center;
}
.links a{
    color: #000;
    padding-bottom: 6px;
    border-bottom: 5px solid #4BA87D;
}
.links a:link{
    text-decoration: none;
}
.nav-button button{
    background-color: #4BA87D;
    width: 168px;
    height: 41px;
    color: #fff;
    font-size: 17px;
    font-style: normal;
    font-weight: 800;
    line-height: 20px;
    letter-spacing: 1.275px;
    text-align: center;
    border: 0;
}
.sec-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 420px;
    margin: 0 176px 279px;
    background-image: url(./public/images/photo-1544717302-de-2939-b-7-ef-71-image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.sec-1 .header{
    color: #000;
    font-family: Playfair Display;
    font-size: 59px;
    font-style: normal;
    font-weight: 900;
    line-height: 71px;
}
.sec-1 p{
    color: #000;
    font-family: Raleway;
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    margin: 23px 0 35px;
}
.sec-1 .buttons{
    display: flex;
    align-items: center;
    gap: 45px;
}
.sec-1 .buttons .try{
    width: 200px;
    height: 65px;
    border: 0;
    background-color: #4BA87D;
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 21px;
    font-style: normal;
    font-weight: 900;
    line-height: 25px; /* 119.048% */
    letter-spacing: 1.05px;
}
.sec-1 .buttons .demo{
    width: 200px;
    height: 65px;
    border: 3px solid #4BA87D;
    background-color: #fff;
    color: #4BA87D;
    text-align: center;
    font-family: Raleway;
    font-size: 21px;
    font-style: normal;
    font-weight: 900;
    line-height: 25px; /* 119.048% */
    letter-spacing: 1.05px;
}
.sec-2{
    margin: auto;
    width: 944px;
    height: 628.085px;
    background-image: url(./public/images/video-image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    text-align: center;
    margin-bottom: 102px;
}
.sec-2 p{
    color: #FFF;
    font-family: Playfair Display;
    font-size: 60px;
    font-style: normal;
    font-weight: 900;
    line-height: 80px;
    padding-top: 211.54px;
}
.sec-2 button{
    width: 200px;
    height: 65px;
    border: 0;
    color: #4BA87D;
    text-align: center;
    font-family: Raleway;
    font-size: 21px;
    font-style: normal;
    font-weight: 900;
    line-height: 25px;
    letter-spacing: 1.05px;
    margin-top: 61px;
}
.sec-3{
    display: flex;
    justify-content: center;
    gap: 32px;
    margin-bottom: 40px;
}
.sec-3>div{
    width: 342px;
    height: 239px;
    background: linear-gradient(0deg, #000 0%, rgba(84, 84, 84, 0.00) 100%);
    padding: 153px 0 0 27px;
}
.sec-3 p:first-child{
    color: #FFF;
    font-family: Raleway;
    font-size: 34px;
    font-style: normal;
    font-weight: 900;
    line-height: 40px;
}
.sec-3 p:last-child{
    color: #FFF;
    font-family: Raleway;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
}
.sec-4{
    margin: 0 268px 68px;
}
.sec-4 p{
    color: #000;
    text-align: center;
    font-family: Playfair Display;
    font-size: 44px;
    font-style: normal;
    font-weight: 900;
    line-height: 48px;
    margin-bottom: 15px;
}
.sec-4 .form{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec-4 .form input:first-child{
    width: 420px;
    height: 65px;
    flex-shrink: 0;
    border: 1px solid #9F9F9F;
    border-radius: 5px;
    color: #000;
    font-family: Raleway;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 1.05px;
    padding-left: 25px;
    margin-right: 27px;
}
.sec-4 .form input:last-child{
    width: 221px;
    height: 65px;
    flex-shrink: 0;
    background-color: #4BA87D;
    border: 0;
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 21px;
    font-style: normal;
    font-weight: 900;
    line-height: 25px;
    letter-spacing: 1.05px;
}
.footer{
    background-color: #4BA87D;
    width: 100%;
    height: 442px;
    padding-top: 73px;
}
.footer-top{
    display: flex;
    justify-content: center;
    gap: 194.61px;
}
.footer .footer-logo{
    width: 197.387px;
    height: 60.233px;
    display: flex;
    justify-content: center;
}
.footer-logo img{
    width: 92px;
    height: 46px;
    flex-shrink: 0;
}
.footer-logo p{
    color: #FFF;
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 900;
    line-height: 31px;
    margin-top: 5px;
}
.footer-lists{
    display: flex;
    justify-content: space-between; 
    gap: 58px;
}
.footer-lists ul{
    list-style: none;
}
.footer-lists ul>li{
    color: #FFF;
    font-family: Raleway;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    margin-bottom: 10px;
}
.line-break hr{
    background-color: #DBDBDB;
    margin: 56.14px 176px 39px;
    height: 2px;
}
.end-of-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    color: #FFF;
    font-family: Raleway;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
}
.end-of-footer p:first-child{
    margin-right: 98px;
}