.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #e7e8ef;
  margin-left: 40.5vw;
}
.search-box button,
input {
  all: unset;
}
.search-box button {
  padding: 14px 0 14px 16px;
}
.search-box input {
  padding: 14px 16px 14px 10px;
}
.search-box input::placeholder {
  color: #8c8f9f;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
