.nav-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.nav-list li {
  border-radius: 8px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 0.4s linear;
  &:hover {
    background-color: #4361ee;
  }
}
.nav-list li:hover a {
  color: #fff;
}
.nav-list a {
  color: #5b5d67;
  font-family: Inter;
  font-size: 0.88rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: all 0.4s linear;
}
