.side-bar-list {
  margin: 25px 0;
}
.side-bar-list li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 14px;
  padding: 16px 16px;
  margin: 5px 0;
  border-radius: 10px;
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.4s linear;
  &:hover {
    background-color: #eaedfb;
    opacity: 1;
  }
}
.side-bar-list a {
  color: #5b5d67;
  font-family: Pulp Display;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
