.nav-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-left: 1.6vw;
}
.nav-profile div p:first-child {
  color: #171923;
  font-family: Pulp Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.nav-profile div p:last-child {
  color: #8c8f9f;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
