.story {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
  margin-bottom: 40px;
}
.story li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.story li a {
  width: 70px;
  height: 70px;
  background-color: #e6eafc;
  border: 1px solid #a0b0fc;
  border-radius: 50%;
  position: relative;
  padding: 2px;
}
.story li:not(:first-child) a img {
  width: 100%;
}
.story li:first-child a img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.story li p {
  color: #171923;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
